:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: flex-end;
	background-color: #673ab8;
}

header nav {
	display: flex;
}

header a {
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	background-color: #0005;
}

header a:hover {
	background-color: #0008;
}

main {
	flex: auto;
	display: flex;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.home img {
	margin-bottom: 1.5rem;
}

.home img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}
